<!DOCTYPE html>
<html lang=es>
  <head>
    <title>API pilas-engine</title>

    <!-- webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
    <!-- stylesheets -->
    <meta charset='utf-8'> 
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/cheatsheet.css">
    <link rel="stylesheet" href="assets/js/prettify/prettify.css">
  </head>
  <body ng-app='app' ng-controller='APICtrl'>

    <!-- navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src='pilas-logo.png'></a>
          <div class="nav-collapse collapse">
            <ul class="nav">

            </ul>
            <ul class="nav pull-right">

              <li class=""><a href="http://www.pilas-engine.com.ar">Ir al sitio de pilas-engine</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">

      <div class="row-fluid">

        <div class="span6" ng-repeat='c in columnas'>
          <!-- Accordion panel.  -->
          <div class="accordion-panel" ng-repeat='m in c'>
            <div class="accordion" id="accordion{{$index}}">
              <span ng-hide='1 == 1'>{{ modulo_id = c[0].nombre + $index}}</span>
              <a href="{{m.url}}" target='_black' class="btn btn-primary btn-mini pull-right">Docs &raquo;</a>
              <h4 class="accordion-title">{{m.nombre}}</h4>

              <!-- Accordion group -->
              <dl class="accordion-group" ng-repeat='f in m.funciones'>
                <dt class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{modulo_id}}" href="#accordion{{modulo_id}}-toggle{{$index}}">
                  <i class="toggle-chevron"></i>
                  {{f.nombre}}
                </a>
                </dt>

                <!-- Accordion group --> 
                <dd id="accordion{{modulo_id}}-toggle{{$index}}" class="accordion-body collapse">
                <div class="accordion-inner">
                  <div class="topic-summary" ng-show='f.firma'>
                    {{f.firma}}
                  </div>

                  <p>{{f.doc}}</p>

                  <div ng-show='f.parametros'>
                    <strong>Parámetros:</strong>
                    <ul>
                      <li ng-repeat='(nombre, descripcion) in f.parametros'><strong>{{nombre}}</strong> - {{descripcion}} </li>
                    </ul>
                  </div>

                  <div ng-show='f.atributos'>
                    <strong>Atributos:</strong>
                    <ul>
                      <li ng-repeat='(nombre, descripcion) in f.atributos'><strong>{{nombre}}</strong> - {{descripcion}} </li>
                    </ul>
                  </div>

                  <div ng-show='f.imagen' class='imagen'>
                    <img src='{{f.imagen}}'>
                  </div>


                  <div class="example">
                    <code class="compiled-result">
                      <p>{{f.ejemplo}}</p>
                    </code>
                  </div>

                </div>
                </dd>
              </dl><!-- /accordion-group -->

            </div>
          </div><!-- /accordion-panel -->
      </div> 
  </div> 


</div><!-- /container -->



    <!-- javascript
    ================================================== -->
    <script src="assets/js/prettify/prettify.js"></script>
    <script src="assets/js/prettify/lang-less.js"></script>
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap-collapse.js"></script>

    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/app.js"></script>

    <!-- simple quickfix for more than one accordion group to stay open at a time -->
    <script>
      $(function() {
        $('.accordion').on('show', function(e) {
          $(e.target).prev('.accordion-heading').find('.accordion-toggle').addClass('active');
        });

        $('.accordion').on('hide', function(e) {
          $(this).find('.accordion-toggle').not($(e.target)).removeClass('active');
        });
      });

    </script>
    <script>
      !function($) {
        $(function() {
          window.prettyPrint && prettyPrint()
        })
      }(window.jQuery);
    </script>
  </body>
</html>
